@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;700&display=swap");

body {
  background-color: #ebf5f6;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 20px;
}

#main h1 {
  color: #0097a7;
  text-align: center;
  font-size: 30px;
}

*:focus {
  outline: none;
}

#main {
  padding: 0px;
  box-sizing: border-box;
  width: 60%;
  height: 100%;
}

#book-list {
  padding: 0;
}

#book-list li {
  display: inline-block;
  margin: 12px;
  padding: 10px;
  border-radius: 4px;
  border: 1px solid #00acc1;
  cursor: pointer;
  color: #00acc1;
  transition: all 0.2s;
}

#book-list li:hover {
  box-shadow: 1px 2px 3px rgb(11, 103, 116);
}

form {
  background: #ebf5f6;
  padding: 40px;
  padding-left: 80px;
  position: fixed;
  left: 0;
  bottom: 0;
  margin-bottom: 50px;
  outline: none;
}

.add-book:focus {
  outline: none;
}
form .field {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 10px;
  outline: none;
}
form label {
  text-align: right;
  padding: 6px;
  color: #00acc1;
}

form select,
form input {
  margin: 4px;
  padding: 6px;
  box-sizing: border-box;
  outline: none;
}

form button {
  color: white;
  font-size: 2em;
  background-color: #0097a7;
  border: 2px solid #0097a7;
  padding: 4px 18px 10px;
  margin: 20px;
  margin-bottom: 30px;
  border-radius: 50%;
  cursor: pointer;
  position: absolute;
  bottom: 10px;
  left: 10px;
  transition: all 0.2s;
}

form button:hover {
  color: #0097a7;
  background-color: white;
  border: 2px solid #0097a7;
}

#book-details {
  position: fixed;
  top: 0;
  right: 0;
  width: 40%;
  height: 100%;
  background: #0097a7;
  padding: 30px;
  overflow: auto;
  box-shadow: -2px -3px 5px rgb(11, 103, 116);
  box-sizing: border-box;
  color: white;
}
